:root {
  --bg-color: #020202;
  --text-color: #ffffff;
  --primary-color: #6113ce;
  --primary-glow: rgba(97, 19, 206, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

input {
  user-select: text;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
